header {
  background-color: #F9F9F9;
  color: black;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 16px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 30000;
}
header .navbar-brand {
  left: 60px;
  position: absolute;
  z-index: 31000;
}
header nav div {
  background-color: #F9F9F9;
}
header nav div img {
  background-color: #F9F9F9;
  padding: none;
}
header nav div img a {
  background-color: #F9F9F9;
}
header nav div ul {
  background-color: #F9F9F9;
  display: flex;
  flex-direction: row;
}
header nav div ul a {
  color: black;
  font-weight: 600;
  padding: 16px 22px !important;
  background-color: #F9F9F9;
}

.nav-item {
  background-color: #F9F9F9;
}

header .navbar {
  background-color: #F9F9F9;
}

.navbar-brand {
  padding-left: 0px;
  background-color: #F9F9F9;
}

* {
  background-color: #F9F9F9;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 20px;
}

/* Buttons */
.primario {
  background-color: #F8C76B;
  padding: 8px 16px;
  border-radius: 4px;
  border-style: none;
}
.primario a {
  background-color: #F8C76B;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}
.primario img {
  background-color: #F8C76B;
}
.primario:hover {
  background-color: #e7b75e;
}
.primario:hover a {
  background-color: #e7b75e;
}
.primario:hover img {
  background-color: #e7b75e;
}

.secundario {
  padding: 12px 24px;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
.secundario a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}
.secundario img {
  background-color: none;
}
.secundario:hover {
  background-color: #f0f0f0;
}
.secundario:hover a {
  background-color: #f0f0f0;
}
.secundario:hover img {
  background-color: #f0f0f0;
}

@keyframes flotacion {
  0% {
    transform: translatey(2px);
  }
  100% {
    transform: translatey(8px);
  }
}
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: top;
  background-color: white;
  padding: 40px 60px;
}
footer ul {
  background-color: white;
  padding-top: 16px;
  padding-left: 0rem;
}
footer ul li {
  font-size: 14px;
  font-weight: 600;
  background-color: #ffffff;
  color: #4B4B4B;
  padding-bottom: 12px;
}
footer ul li a {
  color: #4B4B4B;
  background-color: white;
  text-decoration: none;
  font-size: 14px;
}
footer h1 {
  font-size: 16px;
  font-weight: 400;
  background-color: white;
}
footer h2 {
  background-color: white;
}
footer h2 u {
  text-decoration: underline;
  text-decoration-color: #F8C76B;
  text-underline-offset: 7px;
}
footer .titulo-footer {
  color: #98A2B3;
  padding-bottom: 16px;
}
footer div {
  padding-right: 250px;
  background-color: white;
}

.derechos-reservados {
  padding: 20px 60px;
}
.derechos-reservados p {
  font-size: 14px;
  font-weight: 400;
  color: #98A2B3;
}

#hero {
  width: 100% !important;
  display: flex;
  margin-top: 0px;
}
#hero div {
  width: 100%;
}
#hero div .video {
  width: 100% !important;
}

#aboutme {
  display: flex;
  flex-direction: row;
}
#aboutme .imgaboutme {
  width: 50%;
}
#aboutme .imgaboutme img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#aboutme .textaboutme {
  width: 50%;
  background-color: white;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 20px;
}
#aboutme .textaboutme h2 {
  background-color: white;
  padding-bottom: 16px;
}
#aboutme .textaboutme p {
  width: 100%;
  background-color: white;
}

#tools {
  width: 100%;
  margin-top: 250px;
  margin-bottom: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tools p {
  margin-bottom: 30px;
}
#tools .tool {
  width: 100px;
  padding-left: 20px;
}

#projectsSection .container {
  width: 100%;
}
#projectsSection .container img {
  width: 100%;
  margin-bottom: 16px;
}
#projectsSection .container img:hover {
  width: 99%;
}

#heroproject {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
#heroproject .hi {
  text-align: center;
}
#heroproject .hi button {
  margin-top: 12px;
}
#heroproject .hi h2 {
  font-size: 60px;
}

#projectSitePuie img {
  width: 100%;
}

#visit {
  padding-top: 80px;
}
#visit div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#visit div button {
  margin-left: 20px;
}

#projectsSection {
  margin-top: 50px;
}
#projectsSection .downproject {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 12px;
}

#projectvermut {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
#projectvermut div {
  display: flex;
  flex-direction: column;
}
#projectvermut img {
  width: 100%;
  padding-bottom: 0px;
}

#projectsSection {
  margin-top: 50px;
}
#projectsSection .downproject {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 12px;
}

#projectSitePuie {
  margin-top: 60px;
}
#projectSitePuie img {
  width: 100%;
}

#projectsSection {
  margin-top: 50px;
}
#projectsSection .downproject {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 12px;
}
#projectsSection .downproject p {
  margin-bottom: 0px !important;
}

#cafecitopics {
  margin-left: 0;
  margin-right: 0;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#cafecitopics div {
  display: flex;
  flex-direction: column;
}
#cafecitopics img {
  width: 100%;
  padding-bottom: 200px;
}

#projectsSection {
  margin-top: 50px;
}
#projectsSection .downproject {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 12px;
}
#projectsSection .downproject p {
  margin-bottom: 0px !important;
}

@media (max-width: 1100px) {
  main {
    overflow-x: hidden;
  }
  header {
    padding: 16px;
  }
  header .navbar {
    width: 100%;
  }
  header .puie-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  header .navbar-brand {
    order: 2;
    position: absolute;
    left: 47%;
    top: 24px;
  }
  header .navbar-toggler {
    border: none;
    background-color: #F9F9F9;
  }
  header .button.nvbar-togg {
    background-color: #F9F9F9;
  }
  #hero {
    margin-top: 80px;
    height: 60%;
    object-fit: cover;
    width: auto;
  }
  #hero .video {
    height: 100%;
    object-fit: cover;
    width: auto;
  }
  .banner-home {
    width: 100%;
  }
  /* Seccion mayoristas-sobre nosotros mobile */
  #aboutme {
    flex-direction: column;
    width: 100%;
  }
  #aboutme .imgaboutme {
    width: 100%;
  }
  #aboutme .imgaboutme img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  #aboutme .textaboutme {
    order: 2;
    width: 100%;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  #aboutme .textaboutme h2 {
    margin-top: 20px;
    background-color: white;
  }
  #aboutme .textaboutme p {
    background-color: white;
    font-size: 16px;
    line-height: 1.5;
  }
  #tools {
    margin-top: 100px;
    padding: 100px 16px 70px 16px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 98%;
    flex-wrap: wrap;
  }
  #tools p {
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
  #tools .tool {
    padding-bottom: 16px;
  }
  #tools .tool img {
    width: 26%;
    padding-right: 12px;
    padding-left: 12px;
  }
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: top;
    background-color: white;
    padding: 20px 40px;
  }
  footer ul {
    background-color: white;
    padding-top: 16px;
    padding-left: 0rem;
  }
  footer ul li {
    font-size: 14px;
    font-weight: 600;
    background-color: #ffffff;
    color: #4B4B4B;
    padding-bottom: 12px;
  }
  footer ul li a {
    color: #4B4B4B;
    background-color: white;
    text-decoration: none;
    font-size: 14px;
  }
  footer h1 {
    font-size: 16px;
    font-weight: 400;
    background-color: white;
  }
  footer h2 {
    background-color: white;
  }
  footer h2 u {
    text-decoration: underline;
    text-decoration-color: #F8C76B;
    text-underline-offset: 7px;
  }
  footer .titulo-footer {
    color: #98A2B3;
    padding-bottom: 16px;
  }
  footer div {
    padding-right: 0px;
    background-color: white;
  }
  /* Productos mobile */
  #projectsSection {
    margin-left: 20px;
    margin-right: 20px;
  }
  #projectsSection .container .card-puie {
    margin-bottom: 30px;
    padding: 32px;
    border-radius: 8px;
    border-style: none;
  }
  #projectsSection .container .card-puie h4 {
    padding-bottom: 6px;
  }
  #projectsSection .container .card-puie p {
    padding-bottom: 0px;
  }
  /* Footer mobile */
  .derechos-reservados {
    width: 100%;
    padding: 18px 16px;
  }
  .derechos-reservados p {
    font-size: 14px;
    font-weight: 400;
    color: #98A2B3;
  }
  /* Pages mobile */
  #cafecitopics {
    margin-left: 0;
    margin-right: 0;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #cafecitopics div {
    display: flex;
    flex-direction: column;
  }
  #cafecitopics img {
    width: 100%;
    padding-bottom: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
