// Banner

#hero{
    width: 100% !important;
    display: flex;
    margin-top: 0px;
    div{
        width: 100%;
        .video{
            width: 100% !important;
        }
    }
}



#aboutme{
    display: flex;
    flex-direction: row;
    .imgaboutme{
        width: 50%;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .textaboutme{
        width: 50%;
        background-color: white;
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 60px;
        padding-bottom: 20px;
        h2{
            background-color: white;
            padding-bottom: 16px;
        }
        p{
            width: 100%;
            background-color: white;
        }
    }
}


#tools{
    width: 100%;
    margin-top: 250px;
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin-bottom: 30px;
    }
    .tool{
        width: 100px;
        padding-left: 20px;
    }
}

#projectsSection{
    .container{
        width: 100%;
        img{
            width: 100%;
            margin-bottom: 16px;
            &:hover {
                width: 99%;
              }
        }
    }
}

