#projectvermut{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    div{
        display: flex;
        flex-direction: column;
    }
    img{
            width: 100%;
            padding-bottom: 0px;
        
    }
}


#projectsSection{
    .downproject{
        display: flex;
        justify-content: space-between;
        justify-items: center;
        margin-bottom: 12px;
    }
    margin-top: 50px;
}